<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--引入公共内容-->
	<span th:replace="/pages/common :: css('菜单添加')"></span>
	<span th:replace="/pages/common :: js"></span>

		<script type="text/javascript">
            /**
			 * 菜单添加
             */
			$(function(){
				// 点击保存按钮发送ajax请求
				$('#save').click(function(){
					//location.href='menu.html';
					//校验表单
					if($("#menuForm").form("validate")){
                        $.ajax({
                            url:'/menu/add',
                            type:'post',
                            data:$("#menuForm").serialize(),
                            statusCode:{
                                200:function(){
                                    $.messager.alert("提示","新增成功");
                                   //添加成功后跳转到查询所有页面
                                    location.href='/pages/system/menu';
                                },
                                500:function(){
                                    $.messager.alert("提示","新增失败");

                                }
                            }
                        });
					}


				});
			});
		</script>
	</head>

	<body class="easyui-layout">
		<div data-options="region:'north'">
			<div class="datagrid-toolbar">
				<a id="save" icon="icon-save" href="#" class="easyui-linkbutton" plain="true">保存</a>
			</div>
		</div>
		<div data-options="region:'center'">
			<form id="menuForm" method="post">
				<table class="table-edit" width="80%" align="center">
					<tr class="title">
						<td colspan="2">菜单项信息</td>
					</tr>
					<tr>
						<td>名称</td>
						<td>
							<input type="text" name="name" class="easyui-validatebox" data-options="required:true" />
						</td>
					</tr>
					<tr>
						<td>访问路径</td>
						<td>
							<input type="text" name="page" />
						</td>
					</tr>
					<tr>
						<td>优先级</td>
						<td>
							<input type="text" name="priority" class="easyui-numberbox" /> 如果不填写，分组自动累加1
						</td>
					</tr>
					<tr>
						<td>父菜单项</td>
						<td>
							<input name="pid" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'/menu/list',method:'get'" />
						</td>
					</tr>
					<tr>
						<td>描述</td>
						<td>
							<textarea name="description" rows="4" cols="60"></textarea>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>

</html>