<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <!--引入公共内容-->
    <span th:replace="/pages/common :: css('ztree')"></span>
    <span th:replace="/pages/common :: js"></span>

    <!-- 导入ztree类库 -->
    <link rel="stylesheet" th:href="@{/js/ztree/zTreeStyle.css}" type="text/css" />
    <script th:src="@{/js/ztree/jquery.ztree.all-3.5.js}" type="text/javascript"></script>




    <script type="text/javascript">
        $(function(){
            //1.设置
            var option = {
                data : {
                    simpleData : {
                        enable : true
                    }
                },
                callback : {
                    /**
                     *
                     * @param srcEvent
                     * @param treeId
                     * @param node 当前点击节点对应的所有数据。（例如：{id:2 ,name : "测试2",path: "index.html"}）
                     * @param clickFlag
                     */
                    onClick : function(srcEvent, treeId, node, clickFlag){

                        if(node.path){

                            console.info(node.path);
                            var b = $('#tt').tabs('exists',node.name);
                            if(b){
                                $('#tt').tabs('select',node.name);

                            }else{
                                $('#tt').tabs('add',{
                                    title:node.name,
                                    content:' <iframe src="'+node.path+'"  height="100%" width="100%" frameborder="0"></iframe>',

                                    closable:true,
                                    tools:[{
                                        iconCls:'icon-mini-refresh',
                                        handler:function(){
                                            alert('refresh');
                                        }
                                    }]
                                });

                            }

                        }
                    }
                }
            };

            //2.数据
            var data=[
                {id:1 ,name:"小姐姐"},
                {id:2 ,name:"小哥哥"},

                {id:5 ,name:"音超",pId : 2,path:"http://www.czxy.com/"},
                {id:6 ,name:"徐影",pId : 1,path:"http://www.itcast.cn/"},

            ];

            //3.渲染
            $.fn.zTree.init($("#baseZtree"),option,data);

        } );

    </script>

</head>
<body class="easyui-layout">
<div data-options="region:'north',split:true" style="height:100px;"></div>
<div data-options="region:'south',split:true" style="height:100px;"></div>
<div data-options="region:'west',title:'菜单导航',split:true" class="easyui-accordion" style="width:200px;">


    <div title="Title1" data-options="iconCls:'icon-save',selected:true" style="overflow:auto;padding:10px;">
        <ul id="baseZtree" class="ztree"></ul>

    </div>
    <div title="Title2" data-options="iconCls:'icon-reload'" style="padding:10px;">
        content2
    </div>
    <div title="Title3">
        content3
    </div>





</div>
<div id="tt" class="easyui-tabs" data-options="region:'center'" >


    <div title="百度一下" style="padding:20px;display:none;">
        <iframe src="https://www.baidu.com/"  height="100%" width="100%" frameborder="0"></iframe>
    </div>

</div>

</body>
</html>
